Makefile.*  linguist-language=Makefile
*.m4        linguist-language=M4
*.ac        linguist-language=M4

AUTHORS     text
COPYING     text
INSTALL     text
CONTRIBUTE  text
NEWS        text
README      text
