# Attributes of Brogw files in the Git repository.

# Copyright (C) 2024 Free Software Foundation, Inc.

# This file is part of Brogw.

# Brogw is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.

# Brogw is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
# License for more details.

# You should have received a copy of the GNU General Public License
# along with Brogw.  If not, see <https://www.gnu.org/licenses/>.

Makefile.*  linguist-language=Makefile
*.m4        linguist-language=M4
*.ac        linguist-language=M4

AUTHORS     text
CONTRIBUTE  text
COPYING     text
INSTALL     text
NEWS        text
README      text
