[Desktop Entry]
Type=Application
Name=BrowserRouter
Exec=browser-router %u
Categories=Network;WebBrowser
MimeType=x-scheme-handler/http;x-scheme-handler/https;
