[Desktop Entry]
Name=Brogw
Comment=Route links to appropriate web browser
Type=Application
Exec=brogw %u
Categories=Network;WebBrowser
MimeType=x-scheme-handler/http;x-scheme-handler/https;
