[Desktop Entry]
Name=BrowserRouter
Comment=Route links to appropriate web browser
Type=Application
Exec=browser-router %u
Categories=Network;WebBrowser
MimeType=x-scheme-handler/http;x-scheme-handler/https;
